body{
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: sans-serif;
}

.container{
    width: 250px;
    height: 400px;
    background-color: yellow;
    opacity: calc(0.90);
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 110px;
}